/* Space out content a bit */
body {
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  background-color: #f7f7f7;
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  background-color: #f7f7f7;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  background-color: #f7f7f7;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1366px) {
  .container {
  background-color: #f7f7f7;
  box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  padding-top: 10px;
  max-width: 1024px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: #f7f7f7;
  text-align: match-parent;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  background-color: #f7f7f7;
  margin: 40px 0;
}
.marketing p + h4 {
  background-color: #f7f7f7;
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  background-color: #f7f7f7;
  padding-right: 0;
  padding-left: 0;
  }
  /* Space out the masthead */
.header {
  background-color: #f7f7f7;
  margin-bottom: 30px;
  }
}