/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  background-color: #FFF;
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  margin-top: 10px;
  background-color: #FFF;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  background-color: #FFF;
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Customize container */
@media (min-width: 1366px) {
  .container {
  background-color: #FFF;
  box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.3);
  margin-top: 25px;
  max-width: 1024px;
  height: auto !important; /* real browsers */
}
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: #FFF;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  background-color: #FFF;
  margin: 0px 0px;
}
.marketing p + h4 {
  background-color: #FFF;
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  background-color: #FFF;
  padding-right: 0px;
  padding-left: 0px;
  }
  /* Space out the masthead */
.header {
  background-color: #FFF;
  }
}