body {
    background-image: url('https://dl.dropboxusercontent.com/s/43h0jmhzv2mrrm1/wp.png?dl=0');
    padding-top: 75px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

label {
    font-weight: normal;
    font-size: 13px;
}

textarea#body {
    resize: vertical;
    min-height: 200px;
    max-height: auto;
}

div.container-fluid {
    padding-bottom: 20px;
}

.panel-primary > .panel-heading {
    background-color: #FFD600;
    border-color: #FFF;
    color: #000000;
}

.btn-primary {
    background-color: #FFD600;
    border-color: #FFF;
    color: #000000;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #FFD600;
    border-color: #000000;
}

.btn-primary:focus {
    color: #fff;
    background-color: #FFD600;
    border-color: #FFF;
}

.btn-read_more {
    margin-top: -10px;
    margin-bottom: 15px;
    text-align: right;
}


.panel-primary {
    border-color: #FFF;
}

a > .fa {
    padding-top: 10px;
    text-decoration: none;
}

.navbar-brand > img {
    widows: 50;
    height: 50px;
    display: block;
    padding: 0px;
    margin-top: -11px;
}

.shared-social {
    margin-top: 75px;
}

.album-cat {
    background-color: #FFF;
    height: 200px;
    width: 180px;
}

footer {
    color: #444;
    background-color: #FFF;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* OVERWRITING BOOTSTRAP*/

.well { background: #FFF; }

.language { padding-top: 5px;  }

.carousel {
    height: 600px;
    width: auto;
    overflow: hidden;
    margin-bottom: 15px;
}