body {
    background-image: url('https://dl.dropboxusercontent.com/s/43h0jmhzv2mrrm1/wp.png?dl=0');
    padding-top: 75px;
}

label {
    font-weight: normal;
    font-size: 13px;
}

textarea {
    resize: vertical;
    max-width: 600px;
    max-height: 450px;
    min-height: 80px;
}

div.container-fluid {
    padding-bottom: 20px;
}

.panel-primary > .panel-heading {
    background-color: #FFD600;
    border-color: #000000;
    color: #000000;
}

.panel-news .panel-body {
    margin: 5px;
    padding: 10px;
    }

.panel-news {
    overflow-y: hidden;
    height: 300px;
    width: 120%;
    margin-top: 20px;
}

.btn-primary {
    background-color: #FFD600;
    border-color: #000000;
    color: #000000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #FFD600;
    border-color: #000000;
}

.btn-primary:focus {
    color: #fff;
    background-color: #FFD600;
    border-color: #fff;
}

.btn-read_more {
    margin-top: -20px;
    margin-bottom: 15px;
    text-align: right;
}


.panel-primary {
    border-color: #000000;
}

a > .fa {
    padding-top: 10px;
    text-decoration: none;
}

.navbar-brand > img {
    widows: 50px;
    height: 50px;
    display: block;
    padding: 0px;
    margin-top: -11px;
}

.shared-social {
    margin-top: 50px;
}