body {
    padding-top: 70px;
}

textarea#summary {
    resize: vertical;
    min-height: 100px;
    max-height: 150px;
}

.btn-back {
    margin-bottom: 15px;
}

/* Overwrite Bootstrap */
.alert { margin-top: 5px; }

.nav { margin-bottom: 10px; }

